@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
    .section-min-height {
        min-height: calc(100vh - 68px)
    }


    #headers{
      border-bottom: 1px solid white;
    }

.nwsforza:hover{
  background: url("https://cdn.nwscdn.com/media/wysiwyg/metis/dark-forza.jpg") no-repeat;
}

    .toggle-btn {
      @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 
      [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 
      [&>div]:bg-transparent [&>div]:rotate-[720deg]
  }
}

