@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
    .section-min-height {
        min-height: calc(100vh - 68px)
    }


    #headers{
      border-bottom: 1px solid white;
    }

.nwsforza:hover{
  background: url("https://cdn.nwscdn.com/media/wysiwyg/metis/dark-forza.jpg") no-repeat;
}

    .toggle-btn {
      @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 
      [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 
      [&>div]:bg-transparent [&>div]:rotate-[720deg]
  }


.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.sportshome{
  min-width: calc((100% - (3.125rem*2))/3);
  max-width: calc((100% - (3.125rem*2))/3);
}

}